<p>название: <%= @product.title %>,</p>
<p>
  <% @product.images.each do |image| %>
    <%= image_tag(image.url(:medium), class: "mx-auto d-block") %>
  <% end %>
</p>
<p>категория: <%= @product.category.title %>,</p>
<p>дескриптор: <%= @product.description %>,</p>
<p>цена: <%= @product.price %> грн.</p>
<button type="button" class="btn btn-outline-primary">Купить</button><br>