<div class="container content">
  <div class="row">
    <div class="col-md">
      <div class="list-group">
        <a href="#" class="list-group-item">Книги</a>
        <a href="#" class="list-group-item">Комиксы</a>
        <a href="#" class="list-group-item">Манга</a>
      </div>
    </div>
    <div class="col-md-10">
        <div class="col-md products">
          <div class="row">
            <% @products.each do |product| %>
            <div class="col-sm-4">
              <div class="product">
                <p class="product-title">Тайтл: <%= product.title %></p>
                <div class="product-img">
                  <%= link_to product do %>
                    <% if product.images?  %>
                      <%= image_tag(product.images.first.url(:thumb))%>
                    <% else %>
                      <%= image_tag("https://images-na.ssl-images-amazon.com/images/I/41mVTCm%2Bg-L._AC_UL160_.jpg")%>
                    <% end  %>
                  <% end %>
                </div>
                <p class="product-desc">описание: <%= product.description %></p>
                <p class="product-cate">категория: <%= product.category.title %></p>
                <p class="product-price">цена: <%= product.price %> грн.</p>
                <%= link_to 'Купить', product, class: "btn-sm btn-success" %>
              </div>
            </div>
            <% end %>
          </div>
        </div>
    </div>
  </div>
  <div class="row justify-content-center ">
  <%= paginate @products, theme: 'twitter-bootstrap-4',
               pagination_class: "pagination-sm pagination-centered",
               nav_class: "d-inline-b" %>
  </div>
</div>
